html,body{
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

nav{
    display: flex;
    height: 10%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #0479C5;
}

main{
    height: 90%;
    background-color: #45545F;
}

.titre{
    display: flex;
    justify-content: center;
}

#conteneur{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#instruction{
    display: flex;
    justify-content: center;
}

#user{
    display: flex;
    justify-content: center;
}

#saisie{
    display: flex;
    margin-right: 1%;
    margin-bottom: 1%;
    border: 2px solid #FEB70C;
}

#mot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lettreDiv{
    display: flex;
    height: 200px;
    margin: 2%;
    border: 2px solid #FEB70C;
}